* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; /* al elemento al cual se aplica tome el valor 
  calculado de la propiedad de su elemento padre.*/
}
/*----------Barra de scroll--------*/
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #7ba381e1;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(32, 75, 73);
  border-radius: 10px;
  height: 70px;
  width: 10px;
}
body {
  position: inherit;
  box-sizing: border-box;
  font-family: "Lilita One", cursive;
}

/*-----------Header----------*/
.navRickMorty {
  width: 100%;
  display: inline-block;
  height: 120px;
}
.logo {
  height: 115px;
}
.episodesbtn {
  background-color: #7ba381;
  font-family: "Lilita One", cursive;
  float: right;
  color: aliceblue;
  margin-top: -85px;
  margin-right: 350px;
  width: 250px;
  height: 50px;
  border-radius: 23px;
  text-align: center;
  font-size: 22px;
  border: none;
}
.searchbtn {
  background-color: #7ba381;
  color: aliceblue;
  font-family: "Lilita One", cursive;
  float: right;
  margin-top: -85px;
  margin-right: 50px;
  width: 250px;
  height: 50px;
  border-radius: 23px;
  text-align: center;
  font-size: 22px;
  border: none;
}

::placeholder {
  color: azure;
}
/*-----------Pagina completa-------------*/
.charactersScreen {
  background: url(images/cropped-1536-864-876589.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*---------Texto CHARACTERS-------*/
.characterText {
  background-color: #7ba381;
  position: fixed;
  transform: rotate(270deg);
  width: 500px;
  height: 70px;
  top: 375px;
  text-align: center;
  left: -200px;
  border-radius: 25px;
}

.text {
  font-family: "Lilita One", cursive;
  color: aliceblue;
  font-size: 50px;
}

/*-------------Filtros-------------*/
.filters {
  box-sizing: border-box;
  width: 300px;
  display: block;
}
.orderAlphabetically {
  font-family: "Lilita One", cursive;
  top: 150px;
  right: 35px;
  width: 230px;
  height: 50px;
  font-size: 30px;
  border-radius: 25px;
  background-color: #7ba381;
  position: fixed;
  color: aliceblue;
  text-align: center;
}
.state,
.specie {
  font-size: 30px;
}
p {
  border-bottom: 1px solid white;
}
input {
  cursor: pointer;
}
.tag {
}
.specieCharacter {
  border-bottom: 1px azure;
  font-family: "Lilita One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 220px;
  right: 35px;
  width: 230px;
  height: 160px;
  background-color: #7ba381;
  position: fixed;
  box-sizing: border-box;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.stateCharacter {
  font-family: "Lilita One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 385px;
  right: 35px;
  width: 230px;
  height: 160px;
  background-color: #7ba381;
  position: fixed;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
}

/*--------ADD-----*/
.addHBO {
  background-image: url(images/arreglada.jpg);
  height: 160px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 250px 160px;
  position: fixed;
  border-radius: 20px;
  bottom: 10px;
  right: 26px;
  border: none;
  cursor: pointer;
}

/*-------Lista personajes-------*/
.wrapCharacters {
  margin-top: 155px;
}
.cardContainer {
  background-color: transparent;
  width: 180px;
  height: 280px;
  perspective: 1000px;
  margin-bottom: 30px;
}
.cardContainer-inner {
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.frontCard,
.backCard {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  border: 2px solid #c8dd5d;
}
.frontCard {
  color: #091332;
  font-size: 24px;
  line-height: 44px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-items: center;
  height: 280px;
}
.frontCard #photo {
  border-radius: 6px 6px 0 0;
  box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.15);
}
.frontCard .nametag {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.frontCard .nametag #nameChar {
  margin: 0 auto;
  line-height: 25px;
  font-size: 20px;
}
.backCard {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
  height: 280px;
  background-color: rgba(51, 66, 98, 1);
  border-radius: 6px;
  color: white;
  transform: rotateY(180deg);
}
.backCard .infoChar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  padding: 20px;
}
.backCard .infoChar p {
  font-size: 20px;
}
.propertyStyle {
  color: #bedcec;
  font-size: 24px;
}
.propertyFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
}
.characterCard {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  color: #091332;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
  margin-left: 100px;
}

.photo {
  height: 180px;
  width: 100%;
}

.cardText {
  font-size: 26px;
  color: #ffffff;
}

.name-backcard {
  height: 95px;
  width: 100%;
  font-size: 20px;
  margin: 1px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 15px 5px;
  position: relative;
}

.name-frontcard {
  font-size: 24px;
}
.wrap-filter-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  width: 200px;
  margin-top: 50px;
  height: 20%;
}

.order-filter-characters {
  display: flex;
  flex-direction: row;
}
