* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
/*----------Barra de scroll--------*/
::-webkit-scrollbar {
  background-color: rgba(24, 46, 170, 0.801);
}
::-webkit-scrollbar-button {
  background-color: lightblue;
}

body {
  position: inherit;
  box-sizing: border-box;
  font-family: "Lilita One", cursive;
}
/*-----------Header----------*/
.navRickMorty {
  background: rgba(137, 43, 226, 0.384);
  position: inherit;
  width: 100%;
  display: inline-block;
  border-radius: 20px;
}
.episodesbtn {
  position: inherit;
  background-color: #7ba381;
  font-family: "Lilita One", cursive;
  float: right;
  color: aliceblue;
  margin-top: -90px;
  margin-right: 350px;
  width: 250px;
  height: 50px;
  border-radius: 23px;
  text-align: center;
  font-size: 22px;
  border: none;
}
.searchbtn {
  position: inherit;
  background-color: #7ba381;
  color: aliceblue;
  font-family: "Lilita One", cursive;
  float: right;
  margin-top: -90px;
  margin-right: 50px;
  width: 250px;
  height: 50px;
  border-radius: 23px;
  text-align: center;
  font-size: 22px;
  border: none;
}

::placeholder {
  color: azure;
}
/*-----------Pagina completa-------------*/
.charactersScreen {
  background: url(images/cropped-1536-864-876589.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
/*---------Texto CHARACTERS-------*/
.characterText {
  background-color: #7ba381;
  position: fixed;
  transform: rotate(270deg);
  width: 500px;
  height: 70px;
  top: 380px;
  text-align: center;
  left: -200px;
  border-radius: 25px;
}

.text {
  font-family: "Lilita One", cursive;
  color: aliceblue;
  font-size: 50px;
}

/*-------------Filtros-------------*/
.filters {
  box-sizing: border-box;
  width: 300px;
}
.orderAlphabetically {
  font-family: "Lilita One", cursive;
  top: 150px;
  right: 35px;
  width: 230px;
  height: 50px;
  font-size: 30px;
  border-radius: 25px;
  background-color: #7ba381;
  position: fixed;
  color: aliceblue;
  text-align: center;
}
.state,
.specie {
  font-size: 30px;
}
p {
  border-bottom: 1px solid white;
}
input {
  cursor: pointer;
}
.specieCharacter {
  border-bottom: 1px azure;
  font-family: "Lilita One", cursive;
  top: 220px;
  right: 35px;
  width: 230px;
  height: 160px;
  background-color: #7ba381;
  position: absolute;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.stateCharacter {
  font-family: "Lilita One", cursive;
  display: table-row;
  top: 385px;
  right: 35px;
  width: 230px;
  height: 160px;
  background-color: #7ba381;
  position: fixed;
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
}

/*--------ADD-----*/
.addHBO {
  background-image: url(images/arreglada.jpg);
  height: 160px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 250px 160px;
  position: fixed;
  border-radius: 20px;
  bottom: 10px;
  right: 26px;
}
